<section id="About">
  <div class="container  text-center  p-4">
    <h1 class="About">About Us</h1>
    <h6 class="needs p-2">CONSULT CYCLE IS YOUR ONE-WINDOW SOLUTION FOR ALL YOUR NEEDS</h6>
    <div class="row ">
      <div class="col-12 ">


        <p class="para">It was started in 2022 after exploring the needs and obstacles of any small or
          medium-scale businesses to set up a firm or scale it up to the next level. One has to work with
          9 separate companies to fulfil their needs. We are here to change it.</p>



        <p class="para"> We support Corporates, MSMEs, and Individuals on C4: Capital, Compliance, Consumer, and
          Communications to enhance their businesses by extending services such as business modeling,
          investments, loans, legal and financial compliances (company registration and taxation),
          consumer mapping analysis, personality branding, marketing strategies, etc.</p>

        <p class="para"> In addition, our communications vertical provides tailored digital campaign support to
          business
          leaders and also manages corporate communications for product/brand promotions, customer loyalty
          systems, publications, BPO/KPO, etc.</p>

        <p class="para"> While we care for your C4 and make it easier for business leaders and entrepreneurs,
          they can
          just focus on running the business in peace and prosperity.</p>

      </div>
    </div>
  </div>
</section>




<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container1 my-0 g-0" id="contact">
  <!-- Footer -->
  <footer class="fot text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container1 p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <h1 class=" text-center text-white pt-3">Contact us</h1>
        <!--Grid row-->
        <div class="row p-5 p-md-0 p-lg-0 p-xl-0 p-xxl-0">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
            <div> <img class="img " src="../../assets/image/consult cycle.webp"></div>
           
          </div>


          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 mb-4 mt-4">
            <h6 class=" mb-4 font-weight-bold" style="color: #00E6A1; font-size: 20px;">
              Registered Address
            </h6>
            <p class="p1 mb-2 text-white">No. 61, 1st Floor, LAS Towers, Velachery Road, Little Mount, Saidapet, Chennai, Tamil Nadu - 60001</p>
          </div>
          <!-- Grid column -->

         

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
            <h6 class=" mb-2 font-weight-bold" style="color: #00E6A1 ; font-size: 20px;">Office Address</h6>
            <p class="flor mb-3 text-white p-2 t-3">2nd Floor, Powertec House, New no: 4, 5th Main Road, Vijaya Nagar, Velachery, Chennai, Tamil Nadu - 600042</p>
          </div>
          <!-- Grid column -->

       

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="email mb-4 font-weight-bold" style="color: #00E6A1 ; font-size: 20px;">Email & Mobile Number</h6>
            <p class="num mb-2 text-white">contact@consultcycle.com <br>
              +91-9750005058</p>
          </div>
        
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class=" mb-4 font-weight-bold" style="color: #00E6A1 ; font-size: 20px;">Social Media Links</h6>

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1"  href="#!"><i
                class="fab fa-facebook"></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1"  href="#!"><i
                class="fab fa-twitter"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" id="btn3"  href="#!"><i
                class="fab fa-linkedin-in"></i></a>


          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->