<section id="services" class="cloud text-center p-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h1 class="service1" style="color: #fff;">Services</h1>
                    <h6 class="taking " style="color:#080451;">Taking your business to the next level</h6>
                </div>
            </div>
        </div>
        <div class="bu row g-4 p-1">
            <div class="col-lg-4 col-md-6 col-">
                <div class="service">
                    <img class="img1" src="../../assets/image/1.png" alt="" >
                    <h5 style="color:#00E6A1;" class="bu ">Business Plan Modelling</h5>
                    
                    <p class="ssm p-1" id="ssm1" >We develop analytically robust yet practical business plans enhanced by our demand analysis,
                        forecasting, and business modeling skills.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="service">
                    <img class="img2" src="../../assets/image/2.png" style="position: relative; margin-top: -4%; " alt="">
                    <h5 style="color:#00E6A1 ;"class="ma " id="mar">Marketing Strategy</h5>
                    <p class="ssm  p-1">We ensure that our client’s vision, mission, and goals are achieved through an integrated
                        approach to strategy, marketing, operational and financial planning.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="service">
                    <img class="img3" src="../../assets/image/3.png" alt="">
                    <h5 style="color:#00E6A1 ;" class="pr ">Process Optimization</h5>
                    <p class="ssm p-1 ">We create leverage for our partners by restructuring existing business models that are peripheral
                        to core functions. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img class="img4" src="../../assets/image/4.png" alt="">
                    <h5 style="color:#00E6A1 ;"class="ven ">Venture Capital for Small Businesses</h5>
                    <p class="ssm p-1">Get discovered and connected with global strategic investors to raise funds for MSMEs with ease.
                        We will act as a bridge between the MSMEs and thousands of small-scale investors.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="service">
                    <img class="img5" src="../../assets/image/5.png" alt="">
                    <h5 style="color:#00E6A1 ;" class="cor  ">Corporate<br>
                        Communications</h5>
                    <p class="ssm p-1" >We design and run an end-to-end corporate campaign to enhance their digital media presence, brand
                        value, etc.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="service">
                    <img class="img6" src="../../assets/image/6.png" alt="" >
                    <h5 style="color:#00E6A1 ; margin-top: -12px; " class="gr ">Green Climate Communications</h5>
                    <p class="ssm  p-1" id="ssm6">With a commitment to fighting climate change, we design and run attractive organization-specific
                        climate campaigns on social media to promote climate-resilient actions, green technologies, and
                        climate governance.</p>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- Facts Start -->
<div class="we container-fluid facts my-0 p-4 ">
    <div class="row">
        <div class="col-12 ">
            <div class="intro">
                <h2 class="we1 p-4" style="color:#080451 ;">We're Good With Numbers</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md- col-xl-3" >
            <div class="text-center  p-5">
                
                <h1 class="ex display-2  mb-3" >{{experiencecount}}</h1>
              <h6>  <span class="y 
                fs-5 fw-semi-bold text-white">Years Experience</span></h6>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 " >
            <div class="text-center  p-5">
             
                <h1 class="qu display-2  mb-3" >{{Qualifiedcount}}</h1>
            <h6>  <span class="Q 
                fs-5 fw-semi-bold text-white">Qualified Experts</span></h6>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 " >
            <div class="text-center  p-5">
              
                <h1 class="cl display-2  mb-3" >{{Clientscount}}</h1>
              <h6>  <span class="C 
                fs-5 fw-semi-bold text-white">Clients Every Year</span></h6>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 " >
            <div class="text-center  p-5">
               
                <h1 class="pa display-2  mb-3" >{{Partnerscount}}</h1>
             <h6>  <span class="P 
                fs-5 fw-semi-bold text-white">Partners</span></h6>

            </div>
        </div>
    </div>
</div>
<!-- Facts End -->